*,
body {
	margin: 0;
	padding: 0;

	background-color: #555555;
}

.layout {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 100%;
	margin: 0 auto;
	padding: 0;
  background-color: #ffffff;
}

.main-header-nav {
	opacity: 0.9;
}

.main-header-logo {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;
	background-color: #ffffff;
}

.main-header-logo svg {
	background-color: rgba(0, 0, 0, 0);
}

.menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	list-style: none;
	background-color: #ffffff;
}

.menu-item {
	padding: 20px;
	background-color: #ffffff;
}

.menu-item a {
	margin: 0 auto;
	background-color: #ffffff;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;

	background-color: #555555;
}

footer p {
	color: #ffffff;
	background-color: rgba(255, 255, 255, 0);
}
