*,
body {
	background-color: #dddddd;
	background-image: linear-gradient(to top darkgrey, lightgrey);
	margin: 0;
	padding: 0;
}

.main-header-nav {
	opacity: 0.9;
}

.main-header-logo {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;
	padding: 10px;
	background-color: #ffffff

}

.main-header-logo svg {
	background-color: rgba(0, 0, 0, 0);
}

.menu {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	list-style: none;
}

.menu-item {
	margin: 20px;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding-top: 50px;
	padding-bottom: 50px;
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;
	padding: 15px;

	background-color: #555555;
}

footer p {
	color: #ffffff;
	background-color: rgba(255, 255, 255, 0);
}
